@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.picker {
  background-color: #e3f2fd;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.popup {
  width: 350px;
}
#color-picker {
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 10px;
  background: #5372f0;
}
.picked-colors {
  margin: 10px 15px;
}

.clear-all {
  color: #5372f0;
  cursor: pointer;
  font-size: 0.9rem;
}
.all-colors {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}
.color {
  cursor: pointer;
  display: flex;
  margin-bottom: 10px;
  width: calc(100% / 3);
}
.rect {
  display: block;
  height: 22px;
  width: 22px;
  margin-right: 8px;
  border-radius: 5px;
}
.value {
  font-size: 0.96rem;
  font-weight: 500;
  text-transform: uppercase;
  font-weight: bold;
}
